/* modal--------------------------------------- */
.modal-container{
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.432);
}
.modal-content{
    max-width: 600px;
    min-width: 250px;
    width: 100%;
    margin: 15px;
    height: auto;
    max-height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
}
.modal-content.add-note{
    background: linear-gradient(25deg, rgba(218,175,203,1) 0%, rgba(188,171,232,1) 50%, rgba(188,171,232,1) 50%, rgba(228,205,223,1) 100%);
}
.modal-main{
    width: auto;
    height: auto;
    max-height: 300px;
    overflow: auto;
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding: 20px 20px 10px 20px;
}
.modal-header{
    width: auto;
    height: auto;
    display: flex;
    overflow: hidden;
    position: relative;
}
.modal-header input{
    flex: 1;
    height: 30px;
    background-color: transparent;
    border: none;
    font-size: 1.4rem;
    color: black;
    min-width: 100px;
}
.modal-header input:focus{
    outline: none;
}
.modal-header button{
    width: 34px;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
}
.modal-header button:hover{
    background-color: rgba(0, 0, 0, 0.199);
}
.modal-header button svg{
    height: 1.2rem;
    width: 1.2rem;
}
.modal-header button span {
    position: absolute;
    transform: rotate(35deg); /* Adjust the rotation angle to your preference */
    height: 2px;
    width: 1.5rem;
    background-color: black;
    border-radius: 50px;
}

.modal-body{
    width: 100%;
    height: auto;
    background-color:transparent;
}
.modal-body textarea {
    width: 100%;
    height: auto;
    resize: none;
    background-color: transparent;
    border: none;
    font-size: 1rem;
}
.modal-container.add-note .modal-body textarea {
    width: 100%;
    height: auto;
    min-height: 50px;
    resize: none;
    background-color: transparent;
    border: none;
    font-size: 1rem;
}
.modal-body textarea:focus{
    outline: none;
}
.modal-header input::placeholder,
.modal-body textarea::placeholder {
    color: black;
}
.modal-footer{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px -02px 5px 0px rgba(0, 0, 0, 0.212);
    background: linear-gradient(25deg, rgba(218,175,203,1) 0%, rgba(188,171,232,1) 50%, rgba(188,171,232,1) 50%, rgba(228,205,223,1) 100%);
}
.modal-footer .footer-btn{
    display: flex;
    gap: 5px;
    margin-left: 15px;
}
.footer-btn a{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.footer-btn a:hover,.footer-btn a.active {
    background-color: rgba(0, 0, 0, 0.226);
}
.footer-btn a svg{
   height: 1.4rem;
   width: 1.4rem;
}

.footer-btn a ul.reminder{
    width: auto;
    position: absolute;
    top: -108px;
    left: 0px;
    z-index: 99999;
    display: none;
    flex-direction: column;
    gap: 5px;
    padding: 10px 0px;
    list-style: none;
    background: linear-gradient(25deg, rgba(218,175,203,1) 0%, rgba(188,171,232,1) 50%, rgba(188,171,232,1) 50%, rgba(228,205,223,1) 100%);
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.158);
    border-radius: 5px;
}
a ul.reminder li{
    width: 140px;
    padding: 10px 0px 10px 20px;
    color: black;
}
a ul.reminder li:hover{
    background-color: rgba(0, 0, 0, 0.226);
}
.footer-btn a.active ul.reminder{
    display: flex;
}
.footer-btn a .background{
    width: auto;
    position: absolute;
    top: -109px;
    left: 0px;
    z-index: 99999;
    display: none;
    background: linear-gradient(25deg, rgba(218,175,203,1) 0%, rgba(188,171,232,1) 50%, rgba(188,171,232,1) 50%, rgba(228,205,223,1) 100%);
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.158);
    border-radius: 10px;
    list-style: none;
    flex-direction: column;
}
a .background ul{
    display: flex;
    list-style: none;
    gap: 5px;
} 
a .background .color-palette{
    padding: 10px 10px 5px 10px;
    border-bottom: 1px  rgba(0, 0, 0, 0.158) solid;
}
a .background .background-image{
    padding: 10px 10px 10px 10px;
}
a .background li{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 2px transparent solid;
}
a .background li.backgroundImage{
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: center;
}
a .background li:hover,a .background li.active{
    border: 2px black solid;
}
.footer-btn a.active .background{
    display: flex;
}
.modal-footer .close-btn{
    margin-right: 20px;
    cursor: pointer;
}