/* modal--------------------------------------- */
.modal-container{
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.432);
}
.modal-content{
    max-width: 600px;
    min-width: 250px;
    width: 100%;
    margin: 15px;
    height: auto;
    max-height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
}
.modal-content.add-note{
    background: linear-gradient(25deg, rgba(218,175,203,1) 0%, rgba(188,171,232,1) 50%, rgba(188,171,232,1) 50%, rgba(228,205,223,1) 100%);
}
.modal-main{
    width: auto;
    height: auto;
    max-height: 300px;
    overflow: auto;
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding: 20px 20px 10px 20px;
}
.modal-header{
    flex: 1;
    width: auto;
    height: auto;
    display: flex;
    overflow: hidden;
    position: relative;
}
.modal-header input{
    flex: 1;
    height: 30px;
    background-color: transparent;
    border: none;
    font-size: 1.4rem;
    color: black;
    min-width: 100px;
}
.modal-header input:focus{
    outline: none;
}
.modal-header button{
    height: 34px;
    width: 34px;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
}
.modal-header button:hover{
    background-color: rgba(0, 0, 0, 0.199);
}
.modal-header button svg{
    height: 1.2rem;
    width: 1.2rem;
}
.modal-header button span {
    position: absolute;
    transform: rotate(35deg); 
    height: 2px;
    width: 1.5rem;
    background-color: black;
    border-radius: 50px;
    display: none;
}
.modal-header .pin-btn.pin span{
    display: block;
}
.modal-body{
    width: 100%;
    height: auto;
    background-color:transparent;
}
.modal-body textarea {
    flex: 1;
    width: 100%;
    height:100%;
    resize: none;
    background-color: transparent;
    border: none;
    font-size: 1rem;
    overflow: hidden;
}
.modal-container.add-note .modal-body textarea {
    width: 100%;
    height: auto;
    min-height: 50px;
    resize: none;
    background-color: transparent;
    border: none;
    font-size: 1rem;
}
.modal-body textarea:focus{
    outline: none;
}
.modal-header input::placeholder,
.modal-body textarea::placeholder {
    color: black;
}
.modal-footer{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px -02px 5px 0px rgba(0, 0, 0, 0.212);
    background: linear-gradient(25deg, rgba(218,175,203,1) 0%, rgba(188,171,232,1) 50%, rgba(188,171,232,1) 50%, rgba(228,205,223,1) 100%);
}
.modal-footer .footer-btn{
    display: flex;
    gap: 5px;
    margin-left: 15px;
    position: relative;
}
.footer-btn button{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.footer-btn button:hover,.footer-btn button.active {
    background-color: rgba(0, 0, 0, 0.226);
}
.footer-btn button svg{
   height: 1.4rem;
   width: 1.4rem;
}
.modal-content.add-note .delete{
    display: none;
}
.footer-btn ul.reminder{
    width: auto;
    position: absolute;
    top: -118px;
    left: 0px;
    z-index: 99999;
    display: none;
    flex-direction: column;
    gap: 5px;
    padding: 10px 0px;
    list-style: none;
    background: linear-gradient(25deg, rgba(218,175,203,1) 0%, rgba(188,171,232,1) 50%, rgba(188,171,232,1) 50%, rgba(228,205,223,1) 100%);
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.158);
    border-radius: 5px;
}
.footer-btn ul.reminder.active{
    display: flex;
}
ul.reminder li{
    width: 160px;
    padding: 10px 0px;
    display: flex;
    align-items: center;
    color: black;
    position: relative;
}
ul.reminder li p{
    width: 50px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}
ul.reminder li input{
    width: 100px;
    height: 20px;
    background-color: transparent;
    border: none;
}
ul.reminder li input::-webkit-calendar-picker-indicator {
    width: 18px; 
    height: 18px; 
    border-radius: 50%; 
    color: white; 
  }
ul.reminder li input:focus{
    outline: none;
}
ul.reminder li:hover{
    background-color: rgba(0, 0, 0, 0.226);
}
.footer-btn button.active ul.reminder{
    display: flex;
}
.footer-btn button .background{
    width: auto;
    position: absolute;
    top: -109px;
    left: 0px;
    z-index: 99999;
    display: none;
    background: linear-gradient(25deg, rgba(218,175,203,1) 0%, rgba(188,171,232,1) 50%, rgba(188,171,232,1) 50%, rgba(228,205,223,1) 100%);
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.158);
    border-radius: 10px;
    list-style: none;
    flex-direction: column;
}
button .background ul{
    display: flex;
    list-style: none;
    gap: 5px;
} 
button .background .color-palette{
    padding: 10px 10px 5px 10px;
    border-bottom: 1px  rgba(0, 0, 0, 0.158) solid;
}
button .background .background-image{
    padding: 10px 10px 10px 10px;
}
button .background li{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 2px transparent solid;
}
button .background li.backgroundImage{
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: center;
}
button .background li:hover,a .background li.active{
    border: 2px black solid;
}
.footer-btn button.active .background{
    display: flex;
}
.modal-footer .close-btn{
    margin-right: 20px;
    cursor: pointer;
}

.modal-prompt, .modal-prompt-2{
    width: 300px;
    height: 60px;
    position: fixed;
    bottom: 0;
    margin: 15px;
    z-index: 9999999;
    background-color: rgb(48, 47, 48);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    padding: 0px 10px 0px 10px;
    transition: 0.5s;
    transform: translateX(-360px);
    box-shadow: 0px 0px 5px 1px rgba(24, 24, 24, 0.288);
}
.modal-prompt p, .modal-prompt-2 p{
    font-size: 1rem;
    color: rgb(206, 206, 206);
}
.modal-prompt .button{
    height: 2rem;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1rem;
    line-height: 1rem;
    border-radius: 50%;
    color: rgb(206, 206, 206);
}
.modal-prompt-2 .button-open{
    height: 2rem;
    width: 6rem;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1rem;
    line-height: 1rem;
    color:rgba(218,175,203,1);
    border-radius: 5px;
}
.modal-prompt .button:hover,.button-open:hover{
    background-color: rgb(77, 77, 77);
}
.modal-prompt.active, .modal-prompt-2.active{
    transform: translateX(0px);
}
.mark-as-done{
    color: green;
    cursor: pointer;
    height: auto;
    width: fit-content;
    display: flex;
    border-radius: 10px;
    align-items: center;
    background-color: rgba(17, 17, 17, 0.13);
    padding:6px 10px;
}
.mark-as-done:hover{
    background-color: rgba(0, 0, 0, 0.158);
    border-radius: 5px;
}