/* note carddd */
.note-card-container {
    margin: 10px;
    width: 100%;
    height: auto;
    background-color: transparent;
}
.note-card{
    width:285px;
    height:auto;
    background-color:white;
    /* box-shadow: 0px 0px 2px 0.5px rgb(124, 124, 124); */
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 10px;
    padding: 11px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 5px;

}
.note-card-container .note-card:hover{
    box-shadow: 0px 0px 2px 0.5px rgb(97, 97, 97);
}
.note-card .note-title{
    width: 280px;
    height: auto;
    font-size: 18px;
    letter-spacing: 0.5px;
    color: black;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.note-card .note-content{
    width: auto;
    height: auto;
    overflow: hidden;
    position: relative;
}
.note-card .note-content p{
    font-size: 14px;
    color: black;
    word-wrap: break-word;
    /* font-family: 'Playfair Display', serif; */
}
.note-card .fa-quote-left{
    position: absolute;
    transform: scale(1);
}
.note-card .fa-quote-right{
    position: absolute;
    bottom: 0;
    right: 0;
    transform: scale(1);
}
.add-note-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    background-color: transparent;
    cursor: pointer;
    background: linear-gradient(25deg, rgb(240, 154, 210) 0%, rgba(188,171,232,1) 50%, rgba(188,171,232,1) 50%, rgb(238, 164, 222) 100%);
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.185);
}
.add-note-btn svg{
    transform: scale(1.1);
}